<!DOCTYPE HTML>
<html lang=RU>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="img/icon/imgonline-com-ua-Resize-VdwxLtYwZfL3Xy.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet">
    <link href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



    <title>Собачки-это наше всё</title>
</head>

<body>
    <div class="header">
        <div class="header__title">Собаки</div>
        <div class="header__slogan">Если вы подберёте на улице дворовую собаку и накормите её, она никогда вас не укусит.<br> В этом и состоит разница между собакой и человеком</div>
        <div class="header__arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
    </div>
    <div class="fotoporods">
        <div class="container">


            <div class="title">
                Галерея трех пород
            </div>


            <div class="row">
                <div class="col-3">
                    <div class="fotoporods-item">
                        <div class="pp-img">
                            <img src="img/разделы/imgonline-com-ua-Resize-Su8hMYkinllA.jpg" alt="Лабродор">
                        </div>
                        <div class="zz-title">
                            <a href="/labrador">Лабрадор</a>
                        </div>
                        <div class="jj-text">
                            <p>Первоначально была выведена в качестве<br> охотничьей подружейной собаки</p>
                        </div>
                    </div>
                </div>


                <div class="col-3">
                    <div class="fotoporods-item">
                        <div class="pp-img">
                            <img src="img/разделы/imgonline-com-ua-Resize-eFex4YwCosKyO64.jpg" alt="Немецкая Овчарка">
                        </div>
                        <div class="zz-title">
                            <a href="/shepsherd">Немецкая Овчарка</a>
                        </div>
                        <div class="jj-text">
                            <p>Порода собак, изначально использовалась в качестве <br>пастушьей и служебно-розыскной собаки.</p>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="fotoporods-item">
                        <div class="pp-img">
                            <img src="img/разделы/imgonline-com-ua-Resize-JLBl2V8C1My.jpg" alt="Доберман">
                        </div>
                        <div class="zz-title">
                            <a href="/doberman">Доберман</a>
                        </div>
                        <div class="jj-text">
                            <p>Доберман, как правило, дружелюбен, миролюбив, <br>очень привязан к семье и любит детей.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <p class="footer__name"> Рина Рубинштейн</p>
                    <p>© Квалифицированный любитель собачек</p>
                </div>
                <div class="col-3">
                    <p class="footer__social"> Мои профили в социальных сетях</p>
                    <p class="footer__social-icons">
                        <a href="#" target="_blank">
                            <i class="fa fa-vk" aria-hidden="true"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
                <div class="col-3">
                    <div><a href="#" class="button" target="_blank"> Связаться ВКОНТАКТЕ </a></div>
                    <p> Напиши мне если ты милый песик <br>и хочешь чтоб я тебя погладила</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>