<!DOCTYPE HTML>
<html lang=RU>

<head>
    <meta charset="utf-8">
    <title>Лабродор</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="img/icon/imgonline-com-ua-Resize-VdwxLtYwZfL3Xy.jpg">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="portfolio-sigle-page">
        <div class="container">
            <img src="img/Bg/labrador_sobaka_trava_123135_1920x1080.jpg" alt="Лабродор">
            <a href="/" class="button-back">&larr; Вернуться на главную</a>
        </div>
    </div>
</body>

</html>